name: Sanitise Weather Adjuster preset
on:
  push:
    branches:
      - 'main'
    paths:
      - Weather Adjuster.json

jobs:
  build:
    name: Sanitise Weather Adjuster preset
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v3
 
    - name: Walk and update JSON
      run: |
        jq 'walk(if type == "object" then with_entries( if .key == "cloudTexture" then .value = "" else . end ) else . end)' 'Weather Adjuster.json' > 'Weather Adjuster_sanitised.json' && mv 'Weather Adjuster_sanitised.json' 'Weather Adjuster.json'
    
    - name: Commit and push changes
      run: |
        git config --local user.name actions-user
        git config --local user.email "actions@github.com"
        git add .
        if [[ -n "$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} -- src)" ]]; then
          echo "Found cloudTexture key changes, updating file."
          git commit -am "Sanitised WA Preset"
          git push origin main
        else
          echo "No changes to cloudTexture key, skipping build."
        fi
      env:
        GITHUB_TOKEN: ${{ github.token }}
        username: github-actions
